---
layout: default
title: Home
---
<h1>A hearty Welcome! </h1>

<p>I am a PhD student at IIT Gandhinagar. Prior to Ph.D, I had wonderful experiences serving Hiddenreflex Bangalore and developing Epic Privacy Browser.</p>

<p>I spent my most beautiful and crucial phase of life at IISC Bangalore. I pursued my M.E. from Computer Science and Automation Department @IISC. I did my thesis in the domain of financial cryptography (with Dr. C. E. Veni Madhavan). Also worked closely in the software engineering field as part of my undergraduate projects in MNIT jaipur.</p>

<p>Apart from academics, I like dancing, sketching, beatboxing. I have participated in multiple stage performances in my student life.</p>
<section class="archive">
{% for post in site.posts %}
{% unless post.next %}

{% unless forloop.first %}</div></div>{% endunless %}

  <div class="bundle row gutters fadeInDown animated">
    <h2 class="post-year col span_2">{{ post.date | date: '%Y' }}</h2>
    <div class="posts-by-year col span_10">

{% else %}
{% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
{% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
{% if year != nyear %}

{% unless forloop.first %}</div></div>{% endunless %}

  <div class="bundle row gutters fadeInDown animated">
    <h2 class="post-year col span_2">{{ post.date | date: '%Y' }}</h2>
    <div class="posts-by-year col span_10">
{% endif %}
{% endunless %}

  <article class="row gutters">
    <a href="{{ site.baseurl }}{{ post.url }}" title="{{ post.title }}" class="col span_8">{{ post.title }}</a>
    <div class="post-date col span_4">
      <time datetime="{{ post.date | date: '%Y-%m-%d' }}">{{ post.date | date: "%-d %B" }}</time>
    </div>
  </article>

{% if forloop.last %}</div></div>{% endif %}

{% endfor %}
</section>
